<h1 class="heading1">Video Player Project</h1>
  
<div class="video-container1">
    <h2 class="video-description">Demo Video</h2>
    <p class="video-details">Type: MP4 | Duration: 0:57</p>
    <video #videoPlayer1 class="video-js vjs-default-skin" controls preload="auto" width="320" height="180">
      <source [src]="'../assets/' + videoFileName" type="video/mp4" />
      Your browser does not support the video tag.
    </video> 
    <div class="controls">
      <button (click)="loadVideo()">Load</button>
      <button (click)="playVideo()">Play</button>
      <button (click)="pauseVideo()">Pause</button>
    </div>
</div>

<div class="video-container-2">
    <h2 class="video-description">Demo Video </h2>
    <p class="video-details">Type: webm | Duration: 1:36</p>
    <video #videoPlayer2 class="video-js vjs-default-skin" controls preload="auto" width="320" height="180">
      <source [src]="'../assets/' + videoFileName2" type="video/ogg" />
      Your browser does not support the video tag.
    </video> 
    <div class="controls">
      <button (click)="controlVideo('load')">Load</button>
      <button (click)="controlVideo('play')">Play</button>
      <button (click)="controlVideo('pause')">Pause</button>
    </div>
</div>

<div class="video-container-3">
    <h2 class="video-description">Demo Video </h2>
    <p class="video-details">Type: webm | Duration: 0:06</p>
    <video #videoPlayer3 class="video-js vjs-default-skin" controls preload="auto" width="320" height="180">
      <source [src]="'../assets/' + videoFileName3" type="video/mp4" />
      Your browser does not support the video tag.
    </video> 
    <div class="controls">
      <button (click)="controlVideo1('load', videoPlayer3)">Load</button>
      <button (click)="controlVideo1('play', videoPlayer3)">Play</button>
      <button (click)="controlVideo1('pause', videoPlayer3)">Pause</button>
    </div>
</div>


<h1 class="heading1">Play any video  </h1>

<app-video-player></app-video-player> 